<!DOCTYPE html>
<html>
<head>
    <title>Flag Football Dashboard</title>
</head>
<body>
    <h1>Flag Football Stats</h1>
    <ul>
        <li><a href="{{ url_for('players_page') }}">View Players</a></li>
        <li><a href="{{ url_for('teams_page') }}">View Teams</a></li>
        <li><a href="{{ url_for('games_page') }}">View Games</a></li>
        <li><a href="{{ url_for('aggregated_stats_page') }}">View Player Stats</a></li>
        <li><a href="{{ url_for('combine_page') }}">View Combine Results</a></li>
    </ul>
</body>
</html>
